.top-left {
  position:absolute;
  top:0;
  left:0;
  margin:10px;
}

ul {
  list-style-type: none;
}

.glyphicon {
  font-size: 1.8em;
}

#question_title {
  margin-left: 20px;
}

.questions-header {
  margin-bottom: 20px;
}

.question-row {
  margin-bottom: 10px;
}